.flex_box {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.label {
    flex: 1 1 auto;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 120%;
}

.input {
    flex: 0 0 25px;
    height: 25px;
    cursor: pointer;
}